#Gradle
build/
.gradle
!gradle-wrapper.jar

# IntelliJ
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/modules
.idea/modules.xml

# IntelliJ
out/
