

.investigations-auto-assigner-results {
  max-width: 500px;
  border-width: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}

.investigations-auto-assigner-results-classic {
  padding: 0.5em 1em;
}

.investigations-auto-assigner-btn-group {
  margin-bottom: 4px;
}

.investigations-auto-assigner-btn-group {
  margin-bottom: 4px;
}

.investigations-auto-assigner-btn {
  padding: 2px 8px 2px 8px;
}

.investigations-auto-assigner-btn-append {
  padding: 2px 0 2px 0;
}

.investigations-auto-assigner-description {
  font-size: 12px;
  line-height: 16px;
  color: #737577;
}